@import './Components/global'; // Import global styles
@import './Components/animations'; // Import animations
@import './Components/toggleButton.scss'; // Import toggle button styles

body {
    margin: 0;
    padding: 0;
    background-image: url(Images/stars-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    transition: all 0.3s ease-in;
}

// Header styles
header {
    padding: 1vw;
    height: 5%;
}

// Darth Vader text styles
#brandText {
    font-size: 1.7vw;
    font-family: tiny5;
    color: white;
    margin-left: 0.6vw;
    letter-spacing: 0.1vw;
    font-weight: 500;
}

// Main content styles
main {
    height: 70%;
    position: relative;
    display: block;
}

// Display text styles
#displayText {
    margin: 0%;
    margin-left: 3vw;
    font-weight: 100;
    font-family: tiny5;
    color: white;
    font-size: 14vw;
    letter-spacing: 1vw;
}

// Death Star image styles
#deathStarImg {
    width: 35vw;
    position: absolute;
    top: -11%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

// Darth Vader image styles
#darthVaderImg {
    width: 50vw;
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

// Footer styles
footer {
    height: 25%;
}

// Description text styles in the footer
#descriptionText {
    margin-left: 6vw;
    font-weight: 100;
    width: 19vw;
    color: white;
    font-family: GoodTimes;
    // Styles for the h3 inside the Description Text
    h3 {
        font-size: 1vw;
        letter-spacing: 0.1vw;
    }
    // Styles for the h3 inside the Description Text
    p {
        font-family: Anonymous;
        font-size: 0.9vw;
    }
}
